page-promocode {

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 0px!important;
  }
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: 0px!important;
  }

  .item-inner {
    margin-bottom: 10px;
  }
  .list-header-md{

  }
  .text-input-ios{
    margin: 0px;
  }
  .item-ios {
    padding-left: 16px!important;
    padding-right: 16px!important;
  }
  .item-md {
    padding-left: 16px!important;
    padding-right: 16px!important;
  }
  .item-ios.item-label-stacked .text-input{
    margin:0px;
  }

}
.margin-top-40{
  margin-top: 40px;
}
