page-verifymobile {
  .toolbar-title{
    color: white;
  }
  .item-md {
    padding-left: 0px!important;
  }

.margin-0{
  margin: 0px!important;
}
.margin-top-30{
  margin-top: 30px!important;
}

}
