page-log-in {

  .item-md {
    padding-left: 0px!important;
  }

  .ion-icon{
    font-size:3em!important;
    color:white!important;
  }
  .icon-white{
  .ion-icon{
    font-size:3em!important;
    color:white!important;
  }

  }
  .ion-icon {
    display: inline-block;
    font-size: 1.2em;
  }
  .padd {
    .input-wrapper {
      padding-bottom: 30px !important;
    }
  }
  .log-padd {
    .input-wrapper {
      padding-top: 20px !important;
    }
  }

  .white{
  color: white;
}
.width-47p {
  width: 47%
}
.border-radius-5-40{
  margin-top: 40px ;
  border-radius:5px;
}

.or-divider-row{
  position: absolute;
  top: -15px;
  width: 100%;
}

.or-divider{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;

    text-align: center;
    line-height: 28px;
    background: white;
    margin: auto;
}

}

