.ios, .md {
  page-request-ride {
    .card-md {
      margin: 5px 10px 5px 10px;
    }
    .item-md .item-button {
      height: 44px!important
    }
       .item-ios .item-button {
          padding: 0 .5em;
          height: 44px;
          font-size: 1.3rem;
        }
    .toast {
      item-ios p {
        font-weight: 200;
        padding-left: 35px !important;
      }
    }
    .searchbar-md .searchbar-input {
      box-shadow: none!important;
    }
    .searchbar-md .searchbar-input {
      padding-left: 45px!important;
    }
    .searchbar-ios .searchbar-search-icon {
      display: none;
    }
    .searchbar-md .searchbar-search-icon {
      display: none;
    }
    
.padding-top-7{
  padding-top: 5px!important;
}
    .card-bg-pick{
   background:rgba(158, 158, 158, 0.1)!important;
    }
    .scroll {
      height: 100%
    }
    .gm-style img {
      max-width: 100%!important;
      //display: none;
    }
    .gm-style-mtc, .gm-bundled-control.gm-bundled-control-on-bottom{
      display: none;
    }

    #map {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .label-ios{
      margin: 0px;
    }
    .label-md{
      margin:0px;
    }
    .item-ios.item-block .item-inner {
      padding-right: 0px;
    }
    .item-ios h2 {
      margin-left: 15px;
    }
    .toolbar-title {
      color: white;
    }
    .item-ios {
      padding: 0px;
    }
    .ion-label {
      margin: 0px;
    }
    .ion-label.label.ios {
      margin-right: 0px;
    }
    .label-ios {
      margin-right: 0px;
    }
    .splash-bg {

      background-position: center;
      background-size: cover;
    }
    .item > ion-icon:first-child {
      color: #364F6B;
      margin: 0px;
    }
    .col {
      // background: gray;
      border: solid;
      border-width: .1px;
      border-color: #8e9093;
    }
    .item.ios p {
      padding: 0px;
      margin: 0px;

    }
    .Margin{
      .label-md{
        margin-left: 15px;
      }
    }

  .searchbar-md {
    padding: 0px!important;
  }

    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input {
      margin: 0px!important;
    }
    .item.ios {
      padding: 0px;
      margin: 0px;
    }
    .item-md{
      padding: 0px;
      margin: 0px;
    }
    // .toolbar-ios ion-title {
    //   padding: 0px!important;
    //   padding-left: 35px!important;
    //   padding-top: 10px!important;
    // }
  }
}
