page-payment {
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    margin-left:10px;
  }
  .item-md {
    padding-left: 10px!important;
  }
}
.background-payment{
  background:  rgba(0,0,0,0.5);
}
.margin-left-5-p{
  margin-left:5%!important;
}
.line-in-modal-{
  border: .5px inset #c8c7cc;
  border-style: solid;
}
.margin-top-60p{
  margin-top: 60%
}
.orange-icon{
  // margin-left: 15px;
  font-size: 2em;
  color: #364F6B;
}
.icon-payment{
  font-size: 2em;
  color:orange;
  padding-left: 16px
}
.padding-left-16{
  padding-left: 16px
}
.margin-left-5-{
  margin-left: -5px
}
.font-size-1{
  font-size:1rem!important;
}
.margin-left-15-{
  margin-left: -15px
}
.width-60{
  width: 60px!important;
}
.width-70{
  width: 70px!important;
}
.font-weight-800{
  font-weight: 500!important;
}
.font-size-2-modal{
  font-size: 2.5rem!important;
}
.grey{
  color: gray!important;
}
.black{
  color: black!important;
}
.p-modal-class{
  padding-top: 10px!important;
  margin-left: 2px!important;
}
.vline-small{
  border: 0.2px!important;
  border-style:inset!important;
  width: 20%!important;
  height: 1px!important;
  transform: rotate(90deg)!important;
}
.margin-left-15p-{
  margin-left: -15px
}
