page-forgot {
  
  .item-md {
    padding-left: 0px!important;
  }
  .toolbar-title{
    color: white;
  }
  .margin-0{
    margin:0px;
  }
  .margin-top-30{
    margin-top: 30px;
  }
}
.icon-center{
  font-size: 4em!important;
  color: orange!important;
}
