page-app-payment {
  
  .input-cover {
    border-bottom: 1px solid;
  }
  
  .item-md {
    padding-left: 0px!important;
  }
   .input-cover {
    border-bottom: 1px solid;
  }
  ion-input, ion-textarea {
    border-bottom: 1px solid black;
 }
  .slide-zoom {
    height: 100%!important;
  }
}
.padding-bootom-10{
  padding-bottom :10px!important;
}
.border-radius-15{
  border-radius: 15px!important;
}
.background-ghost{
  background: ghostwhite;
}
.font-white{
  font-size: 3em;
  color: white;
}
.height-width-50{
  height: 76px!important; width: 76px!important;
}
.app-h5{
  color: white; font-size: 1.1em; padding-left:16px
}
.margin-left-16{
  margin-left: 16px!important;
}
.app-style{
  background-color: #364F6B;
  height: 30%;
}

.splash-bg-app{
  position:absolute;
  background-image: url("../../assets/image/blur.png");
  background-position: center;
  background-size: cover;
}
.big-menu-image{
             .item-ios ion-avatar ion-img, .item-ios ion-avatar img{
  height: 50px!important;
  width: 50px!important;
           }
}

.payment{
  margin-left: 2rem;
  margin-right: 2rem;
}
ion-input{
  background-color: rgb(240, 240, 240);
}

ion-select{
  background-color: rgb(240, 240, 240);
  max-width: 100% !important;
}

.styleButton{
  width: 100% !important;
}

.padre {
  position: relative;
}
.hijito {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 93%;
  margin: auto;
}

.iframe{
  position: absolute;
  width: 0px;
  height: 0px;
  border: none;
}

.error-message
{
color: #f01e46;
font-size: 10.5px;
margin-left: 10px;
margin-top: 10px;

}
    
