<!--
  Generated template for the PaymentGatewayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="theme-color">
    <ion-buttons start>
      <button ion-button icon-only clear (click)="dismiss()">
        <ion-icon name="arrow-round-back" left>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Confirmación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padre">
  <div class="hijito">  
    <form [formGroup]="validations_form" #form="ngForm" (ngSubmit)="paymentGet()">    
      <div class="payment">      
        <ion-grid>
          <ion-row style="text-align: center;">            
              <ion-col col-4>
                <img src="assets/img/american-express-logo-app.png" width="100" height="100">
              </ion-col>           
            <ion-col col-4>
              <img src="assets/img/master-card-app.png" width="100" height="100">
            </ion-col>
            <ion-col col-4>
              <img src="assets/img/Visa-Logoapp.png" width="100" height="100">
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col col-12>
              <ion-label text-wrap style="text-align: center;">Seleccione una de sus tarjeta guardadas o escriba una nueva</ion-label>
            <ion-select placeholder="Seleccione tarjeta" cancelText="CANCELAR" okText="SELECCIONAR" 
            [(ngModel)]="selectItem" formControlName="selectItem" (ionChange)="getCardsList()">
              <ion-option *ngFor="let cards of arrayCards" value={{cards.namecard}}> {{cards.namecard}}</ion-option>
            </ion-select>
          </ion-col>
          </ion-row>
          <br>         
          <ion-row>
            <ion-col col-9>
              <ion-label>Numero de tarjeta</ion-label>
              <ion-input placeholder="5111 1111 1111 2222" type="tel" maxlength="16"
                oninput="if(this.value > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                (keypress)="numberOnlyValidation($event)" (ionChange)="loginFormValidator.numberCard.empty='';"
                formControlName="numberCard" [(ngModel)]="numberCard" required></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.numberCard">
                  <div class="error-message"
                    *ngIf="loginFormValidator.numberCard.empty || validations_form.get('numberCard').hasError(validation.type) && (validations_form.get('numberCard').dirty || validations_form.get('numberCard').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col col-3>
              <ion-label>CVC</ion-label>
              <ion-input placeholder="263" formControlName="cvc" type="tel"
                (ionChange)="loginFormValidator.cvc.empty='';" [(ngModel)]="cvc"
                (keypress)="numberOnlyValidation($event)" maxlength="4"
                oninput="if(this.value > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
              </ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.cvc">
                  <div class="error-message"
                    *ngIf="loginFormValidator.cvc.empty || validations_form.get('cvc').hasError(validation.type) && (validations_form.get('cvc').dirty || validations_form.get('cvc').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Nombre del titular de la tarjeta</ion-label>
              <ion-input placeholder="JOHN DOE" formControlName="username"
                (ionChange)="loginFormValidator.username.empty='';" [(ngModel)]="username" maxlength="30"
                oninput="if(this.value > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required>
              </ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.username">
                  <div class="error-message"
                    *ngIf="loginFormValidator.username.empty || validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-7>
              <ion-label>Mes de Expiracion</ion-label>
              <ion-select placeholder="Seleccione" cancelText="Cancelar"
                (ionChange)="loginFormValidator.dateExpiration.empty='';" okText="Aceptar"
                formControlName="dateExpiration" [(ngModel)]="dateExpiration" required>
                <ion-option value="01">Enero</ion-option>
                <ion-option value="02">Febrero </ion-option>
                <ion-option value="03">Marzo</ion-option>
                <ion-option value="04">Abril</ion-option>
                <ion-option value="05">Mayo</ion-option>
                <ion-option value="06">Junio</ion-option>
                <ion-option value="07">Julio</ion-option>
                <ion-option value="08">Agosto</ion-option>
                <ion-option value="09">Septiembre</ion-option>
                <ion-option value="10">Octubre</ion-option>
                <ion-option value="11">Noviembre</ion-option>
                <ion-option value="12">Diciembre</ion-option>
              </ion-select>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.dateExpiration">
                  <div class="error-message"
                    *ngIf="loginFormValidator.dateExpiration.empty || validations_form.get('dateExpiration').hasError(validation.type) && (validations_form.get('dateExpiration').dirty || validations_form.get('dateExpiration').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            <ion-col col-5>
              <ion-label>Año de Expiracion</ion-label>
              <ion-select placeholder="Seleccione" cancelText="Cancelar"
                (ionChange)="loginFormValidator.yearExpiration.empty='';" okText="Aceptar"
                formControlName="yearExpiration" [(ngModel)]="yearExpiration" required>
                <ion-option value="21">2021</ion-option>
                <ion-option value="22"> 2022</ion-option>
                <ion-option value="23"> 2023</ion-option>
                <ion-option value="24"> 2024</ion-option>
                <ion-option value="25"> 2025</ion-option>
                <ion-option value="26"> 2026</ion-option>
                <ion-option value="27"> 2027</ion-option>
              </ion-select>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.yearExpiration">
                  <div class="error-message"
                    *ngIf="loginFormValidator.yearExpiration.empty || validations_form.get('yearExpiration').hasError(validation.type) && (validations_form.get('yearExpiration').dirty || validations_form.get('yearExpiration').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="payment">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button class="styleButton" [disabled]="!validations_form.valid" type="submit">Completar Pago
                (Total L.{{payment}})</button>
              <iframe class="iframe" id="theFrame">
              </iframe>
            </ion-col>
          </ion-row>         
        </ion-grid>       
      </div>     
    </form>  
  </div>
</ion-content>